@{
    ViewData["Title"] = "Home Page";
}
<h3>Welcome To My MotherFucking CoffeeShop Where We Sell Some Coffee</h3>

<h3>@Html.ActionLink("Products", "Create", "Products")</h3>
<h3>@Html.ActionLink("Registration", "Create", "UserInfoes")</h3>
<h3>@Html.ActionLink("Login", "Login", "UserInfoes")</h3>
